:root {
  --primary: #62cdff;
  --bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #000;
}

.sidebar {
  position: absolute;
  width: 450px;
  height: 1024px;
  left: 0px;
  top: 0px;

  background: var(--primary);
  border-radius: 0px 20px 20px 0px;
}

.title h2 {
  position: absolute;
  width: 450px;
  height: 150px;
  background: #2b3467;
  border-radius: 0px 20px 0px 0px;

  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.time {
  position: absolute;
  width: 300px;
  height: 50px;
  top: 175px;
  left: 75px;

  background: rgba(60, 132, 171, 0.6);
  border-radius: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.menu {
  width: 350px;
  height: 45px;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 45px;
  margin-left: 50px;
}
.menu a {
  text-decoration: none;
  color: #000000;
  font-weight: normal;
}

.menuRekap {
  margin-top: 300px;
  padding-bottom: 45px;
}

/* .menuRekap #iconRekap {
  font-weight: bold;
} */

.menuCalon {
  padding-bottom: 45px;
}
.menuPemilih {
  padding-bottom: 400px;
}

.userAccount {
  width: 300px;
  height: 70px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #000000;

  background: #cadeef;
  border-radius: 20px;
}

.userAccount img {
  width: 64px;
  border-radius: 90px;
}

.daftarCalon h2 {
  position: absolute;
  width: 600px;
  height: 70px;
  left: 560px;
  top: 200px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  display: flex;
  align-items: center;

  color: #000000;
}

.sudahVote {
  position: absolute;
  margin-top: 340px;
  margin-right: 180px;
  width: 300px;
  height: 400px;
  background: #3da9fc;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: #000000;
}

.sudahVote p {
  font-size: 200px;
}

.belumVote p {
  font-size: 200px;
}

.totalPemilih p {
  font-size: 200px;
}

.belumVote {
  position: absolute;
  margin-top: 340px;
  margin-left: 450px;
  width: 300px;
  height: 400px;
  background: #3da9fc;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: #000000;
}

.totalPemilih {
  position: absolute;
  margin-top: 340px;
  margin-left: 1080px;
  width: 300px;
  height: 400px;
  background: #3da9fc;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: #000000;
}

.btnTambahCalonKetua {
  position: absolute;
  margin-top: 285px;
  margin-left: 1095px;
  width: 300px;
  height: 60px;
  font-size: 25px;
  border-radius: 30px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #2b3467;
}

/*
.belumVote{
    position: absolute;
    width: 300px;
    height: 400px;
    margin-top: 345px;
    margin-left: 800px;
    padding-left: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    background: #3DA9FC;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #000000;
} */
