:root {
    --primary: #62cdff;
    --bg: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    color: #000;
}

.sidebar {
    position: absolute;
    width: 450px;
    height: 100vw;
    left: 0px;
    top: 0px;

    background: var(--primary);
    border-radius: 0px 20px 20px 0px;
}

.title h2 {
    position: absolute;
    width: 450px;
    height: 150px;
    background: #2b3467;
    border-radius: 0px 20px 0px 0px;

    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #ffffff;
}

.time {
    position: absolute;
    width: 400px;
    height: 50px;
    top: 175px;
    margin-left: 25px;

    background: rgba(60, 132, 171, 0.6);
    border-radius: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #ffffff;
}

.menu {
    width: 350px;
    height: 45px;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 45px;
    margin-left: 50px;
}
.menu a {
    text-decoration: none;
    color: #000000;
    font-weight: normal;
}

.menuRekap {
    margin-top: 300px;
    padding-bottom: 30px;
}

/* .menuRekap #iconRekap {
  font-weight: bold;
} */

.menuCalon {
    padding-bottom: 30px;
}
.menuPemilih {
    padding-bottom: 30px;
}

.userAccount {
    width: 350px;
    height: 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    justify-content: start;

    color: #000000;

    background: #cadeef;
    border-radius: 20px;
}

.userAccount img {
    width: 55px;
    padding-left: 5px;
    border-radius: 180px;
}

.userAccount h5 {
    width: 280px;
    padding-left: 5px;
    padding-right: 5px;
}

.rekapanPemilihan h2 {
    position: absolute;
    width: 600px;
    height: 70px;
    margin-left: 10rem;
    margin-top: 8rem;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;

    color: #000000;
}

.candidate {
    text-align: center;
}

.candidate img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.candidate h4 {
    margin-top: 10px;
}

.candidate p {
    margin-bottom: 10px;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.calon {
    width: 60%;
}

.ketua {
    display: flex;
    align-items: center;
    justify-content: center;
}

.candidate {
    width: 70%;
    display: flex;
    align-items: center;

    padding: 1rem;
    gap: 20px;
}

.candidate.img img {
    border-radius: 10px;
}
